body {
  margin: 0 auto;
}
#section {
  margin: 0 auto;
  position: relative;
  max-width: 360px;
}
/* #board {
  background-image: url('./BackGround.png');
} */

#background {
  display: none;
}

/* #score {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 45px;
} */

#gameover {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-family: sans-serif;
  font-weight: 900;
  color: red;
  font-size: 45px;
}
