* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
  border: 5px solid black;
  max-width: 100%;
  max-height: 100%;
  margin-top: 5px;
  margin-bottom: 100px;
  font-family: 'Creepster', system-ui;
}

#player,
#layer-1,
#layer-2,
#layer-3,
#layer-4,
#layer-5,
#enemy_fly,
#enemy_plant,
#enemy_spider_big,
#fire,
#collisionAnimation,
#lives {
  display: none;
}
